<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Login page</title>
</head>
<body>

<form name="f" method="post" action="/process_login">
  <!--для защиты от атаки csrf-->
  <!--Нужно только для login! Для всех остальных форм thymeleaf подставит автоматом. Магия-->
  <input type="hidden" th:name="${_csrf.getParameterName()}" th:value="${_csrf.token}">

  <label for="username">Имя пользователя:</label>
  <input type="text" name="username" id="username">
  <br>
  <label for="password">Пароль:</label>
  <input type="password" name="password" id="password">
  <br>
  <input type="submit" value="LOGIN">

  <div th:if="${param.error}" style="color: red">
    Неверное имя или пароль
  </div>
</form>

</body>
</html>