<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
  Hello, world!

  <!--при включенной проверке на атаку csrf logout можно делать только через POST-->
<!--  <a href="/logout">LOGOUT</a>-->
  <form th:method="POST" th:action="@{/logout}">
    <!--csrf нужно только для login! Для всех остальных форм thymeleaf подставит автоматом. Магия-->
    <!--здесь можно без csrf поля делать запрос-->
    <input type="submit" value="LOGOUT">
  </form>

</body>
</html>